{
    "parserOptions": {
        "ecmaVersion": 2022,
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".vue"]
    },
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:vue/vue3-recommended",
        "@vue/typescript/recommended",
        "@vue/prettier"
    ],
    "rules": {
        "object-curly-spacing": ["error", "always"],
        "vue/no-v-html": 0,
        "@typescript-eslint/no-unused-vars": 2
    }
}
