/public/build
/public/hot
/public/storage
/public/vendor

/storage/*.key

/resources/js/ziggy.js
/resources/js/Types/generated.d.ts

/vendor
/node_modules

/var

.env
.env.backup

.phpunit.result.cache
.phpunit.database.checkum
.phpunit.cache

Homestead.json
Homestead.yaml

auth.json

npm-debug.log
yarn-error.log

/.idea
/.vscode

/reports
/coverage

/stubs

_ide_helper.php
_ide_helper_models.php

routes/test.php
