includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

    - phpstan/project.neon
    - phpstan/laravel.neon
    - phpstan/ergebnis.neon

parameters:
    tmpDir: var/cache/phpstan
    paths:
        - app
        - database
        # - tests

    excludePaths:
        # - database/seeders
        # Ignore Spatie's migrations for permission management
        - database/migrations/2023_03_09_133722_create_permission_tables.php
        - database/migrations/2023_03_09_133723_add_teams_fields.php

    level: 9

    checkMissingIterableValueType: true
    treatPhpDocTypesAsCertain: true
    reportMaybesInPropertyPhpDocTypes: false
