includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

    - ./phpstan.project.neon
    - ./phpstan.laravel.neon
    - ./phpstan.ergebnis.neon

parameters:
    tmpDir: var/cache/phpstan
    paths:
        - app
        - tests

    level: 9

    ignoreErrors:
        - '#Access to an undefined property App\\Models\\[a-zA-Z]+\:\:\$uuid.#'
        - '#Constructor in App\\Collections\\[a-zA-Z0-9\\\:\$]+Collection has parameter [a-zA-Z0-9\\\:\$]+ with default value.#'
        - '#Method App\\Data\\VoucherPriceData::__construct\(\) has parameter \$voucherCodes with a nullable type declaration.#'
        - '#Method App\\Services\\PaymentService::createPayment\(\) has parameter \$issuer with a nullable type declaration.#'
        - '#Method App\\Services\\PaymentService::createPayment\(\) has parameter \$issuer with null as default value.#'
        - '#Method App\\Repositories\\PaymentRepository::storePaymentWithIdentifier\(\) has parameter \$paymentIssuer with a nullable type declaration.#'

    checkMissingIterableValueType: true
    treatPhpDocTypesAsCertain: true
    reportMaybesInPropertyPhpDocTypes: false
