includes:
    - ../vendor/larastan/larastan/extension.neon

parameters:
    strictRules:
        # strictCalls clashes with larastan and will still throw errors on things larastan fixes
        strictCalls: false

    ignoreErrors:
        # - '#^Method App\\Data\\[a-zA-Z\\:()]+\:\:__construct\(\) has parameter \$[a-zA-Z0-9\\:()]+ with a nullable type declaration\.$#'

    ergebnis:
        noExtends:
            classesAllowedToBeExtended:
                - Illuminate\Auth\Middleware\Authenticate
                - Illuminate\Console\Command
                - Illuminate\Cookie\Middleware\EncryptCookies
                - Illuminate\Database\Eloquent\Builder
                - Illuminate\Database\Eloquent\Builder
                - Illuminate\Database\Eloquent\Collection
                - Illuminate\Database\Eloquent\Factories\Factory
                - Illuminate\Database\Eloquent\Model
                - Illuminate\Database\Eloquent\Relations\Pivot
                - Illuminate\Database\Migrations\Migration
                - Illuminate\Database\Seeder
                - Illuminate\Foundation\Auth\User
                - Illuminate\Foundation\Console\Kernel
                - Illuminate\Foundation\Exceptions\Handler
                - Illuminate\Foundation\Http\Kernel
                - Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                - Illuminate\Foundation\Http\Middleware\TrimStrings
                - Illuminate\Foundation\Http\Middleware\VerifyCsrfToken
                - Illuminate\Foundation\Support\Providers\AuthServiceProvider
                - Illuminate\Foundation\Support\Providers\EventServiceProvider
                - Illuminate\Foundation\Support\Providers\RouteServiceProvider
                - Illuminate\Foundation\Testing\TestCase
                - Illuminate\Http\Middleware\TrustHosts
                - Illuminate\Http\Middleware\TrustProxies
                - Illuminate\Mail\Mailable
                - Illuminate\Notifications\Notification
                - Illuminate\Routing\Controller
                - Illuminate\Routing\Middleware\ValidateSignature
                - Illuminate\Support\ServiceProvider

                - Inertia\Middleware

                - Tests\TestCase

                - Spatie\LaravelData\Support\Validation\ValidationRule
                - Spatie\LaravelData\Normalizers\ModelNormalizer

