includes:
    - ../vendor/larastan/larastan/extension.neon

parameters:
    ignoreErrors:

    strictRules:
        # strictCalls clashes with larastan and will still throw errors on things larastan fixes
        strictCalls: false

    ergebnis:
        noExtends:
            classesAllowedToBeExtended:
                - Illuminate\Foundation\Testing\TestCase
                - Illuminate\Database\Seeder
                - Illuminate\Database\Migrations\Migration
                - Illuminate\Database\Eloquent\Factories\Factory
                - Inertia\Middleware

                - Tests\TestCase

                - Illuminate\Console\Command
                - Illuminate\Foundation\Console\Kernel

                - Illuminate\Database\Eloquent\Builder
                - Illuminate\Database\Eloquent\Collection
                - Illuminate\Database\Eloquent\Builder

                - Illuminate\Database\Eloquent\Model
                - Illuminate\Database\Eloquent\Relations\Pivot
                - Illuminate\Foundation\Auth\User

                - Illuminate\Support\ServiceProvider
                - Illuminate\Foundation\Support\Providers\AuthServiceProvider
                - Illuminate\Foundation\Support\Providers\EventServiceProvider
                - Illuminate\Foundation\Support\Providers\RouteServiceProvider

                - Illuminate\Foundation\Exceptions\Handler

                - Illuminate\Routing\Controller

                - Illuminate\Foundation\Http\Kernel

                - Illuminate\Auth\Middleware\Authenticate
                - Illuminate\Cookie\Middleware\EncryptCookies
                - Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                - Illuminate\Foundation\Http\Middleware\TrimStrings
                - Illuminate\Foundation\Http\Middleware\VerifyCsrfToken
                - Illuminate\Http\Middleware\TrustHosts
                - Illuminate\Http\Middleware\TrustProxies
                - Illuminate\Routing\Middleware\ValidateSignature
                - Illuminate\Mail\Mailable
                - Illuminate\Notifications\Notification
