parameters:
    ergebnis:
        noExtends:
            classesAllowedToBeExtended:
                - App\Models\Model
                - App\Http\Controllers\Controller
                - Spatie\LaravelData\Data

                - Filament\Pages\Auth\Login
                - Filament\Pages\Dashboard
                - Filament\Pages\Page
                - Filament\Notifications\Notification
                - Filament\PanelProvider
                - Filament\Resources\Resource
                - Filament\Resources\Pages\CreateRecord
                - Filament\Resources\Pages\EditRecord
                - Filament\Resources\Pages\ListRecords
                - Filament\Resources\Pages\ViewRecord
                - Filament\Resources\RelationManagers\RelationManager
                - Filament\Widgets\ChartWidget
                - Filament\Widgets\StatsOverviewWidget

                - Livewire\Component
